@import "~globalStyle/variables";
@import "~bootstrap/scss/_functions.scss";


.calendarGroup {
  position: relative;
}
.bringUp {
  z-index: 20;
}
.calendarGroup {
  border: 1px solid #339999;
  background: white;
  padding: 0.4em 0.5em 0.3em 0.4em;
  border-radius: 0px;
  width: 165px;
  float: left;
  overflow: show;

  &:focus-within {
    background: #e8f4f6;
  }
  &:nth-of-type(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:nth-of-type(2) {
    border-left: 0 none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.calendarlabel {
  font-size: 13px;
  color: #333;
  display: block;
  margin-bottom: 0;
  text-indent: 3px;
  height: 1.2em;
}

.datepickerinput {
  border: 0px none;
  font-size: 16px;
  color: #666;
  background: transparent;
  height: 1em;
  padding: 0px 4px;
  width: 75%;

  &:focus {
    outline: 0px solid;
  }
}
:global(.react-calendar__tile--active) {
  background-color: $primary !important;
  color:#fff !important;
  border-radius: 0.375rem;
}
:global(.react-calendar__month-view__days__day--weekend) {
  color:#c2c2c2 !important;
}
.show {
  display: block;
}
.calendar {
  position: absolute;
  top: 55px;
  left: -1px;
  max-width:none !important;
  border-radius: 4px;
  overflow: hidden;
}
.hide {
  display: none;
}
.calendarIconBtn{
  width: 20px;
  height: auto;
  display: block;
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
  border: 0 none;
  background: none;
  padding: 0 0;

  svg{
    color: $primary;
  }
  &:hover{
    svg{
      color: shade-color($primary, 15%);
    }
  }
}
.calendarIcon{
  width: 20px;
  height: auto;
}
