.bankaccountbg {
  background: rgba(227, 230, 232, 0.25);
  padding-top: 1.5em;
  min-height: 820px;
}
.pageheader {
  font-size: 20px;
  font-weight: normal;
}
.pageScaffoldingHeader {
  font-size: 14px;
}
.verticalCenter{
  //justify-content: center;
  display:flex;
  padding-top: 0.3em;
  padding-bottom: 0.3em;

  button{
    margin-left: 0.8em;
  }
}
